<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <div class="nav__logo">
                    <a class="nav__logo__link" href="{{ path('app_home') }}"">
                        {{ file_get_contents("../assets/logo.svg") | raw }}
                    </a>
                </div>
                <div class="nav__menu">
                    <a class="nav__menu__link" href="{{ path('app_home') }}">Accueil</a>
                    <a class="nav__menu__link" href="{{ path('app_activite') }}">Activités</a>
                    <a class="nav__menu__link" href="#offres">Offres</a>
                    <a class="nav__menu__link" href="#faq">F.A.Q.</a>
                    <a class="nav__menu__link" href="{{ path('app_contact') }}">Contact</a>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="footer__col">
                <p class="footer__col__title">Mentions l&eacute;gales</p>
                <a class="footer__col__item" href="#">C.G.V.</a>
                <a class="footer__col__item" href="#">Politique de confidentalit&eacute;</a>
            </div>
            <div class="footer__col">
                <p class="footer__col__title">Nos r&eacute;seaux</p>
                <a class="footer__col__item footer__network" href="https://www.facebook.com/profile.php?id=100086703128169">
                    <img class="footer__network__icon" height="25" src="https://cdn.simpleicons.org/facebook/fff/fff?viewbox=auto" alt="Logo de facebook">
                </a>
                <a class="footer__col__item footer__network" href="https://www.instagram.com/escapegameaperotroyes10/">
                    <img class="footer__network__icon" height="25" src="https://cdn.simpleicons.org/instagram/fff/fff?viewbox=auto" alt="Logo d'Instagram">
                </a>
                <a class="footer__col__item footer__network" href="https://www.linkedin.com/in/s%C3%A9bastien-favre-escape-game-ap%C3%A9ro-troyes-30135425b/">
                    <img class="footer__network__icon" height="25" src="https://cdn.simpleicons.org/linkedin/fff/fff?viewbox=auto" alt="Logo de LinkedIn">
                </a>
                <a class="footer__col__item footer__network" href="https://api.whatsapp.com/send?phone=642348211">
                    <img class="footer__network__icon" height="25" src="https://cdn.simpleicons.org/whatsapp/fff/fff?viewbox=auto" alt="Logo de WhatsApp">
                </a>
            </div>
            <div class="footer__center">
                <div class="footer__center__logo">
                    {{ file_get_contents('../assets/logo.svg') | raw }}
                </div>
                <p class="footer__center__info">
                    E-mail&nbsp;: <a href="mailto:contact@escape-game-apero-troyes-10.fr">contact@escape-game-apero-troyes-10.fr</a>
                    T&eacute;l&nbsp;: <a href="tel:+336423482">06&nbsp;42&nbsp;34&nbsp;82&nbsp;11</a>
                </p>
                <p class="footer__center__info">&copy; 2024 Escape Game Troyes</p>
            </div>
            <div class="footer__col">
                <p class="footer__col__title">Les box</p>
                <a class="footer__col__item" href="{{ path('app_activite') }}">Nos activités</a>
                <a class="footer__col__item" href="{{ path('app_reservation') }}"">Réserver</a>
            </div>
            <div class="footer__col">
                <p class="footer__col__title">Notre entreprise</p>
                <a class="footer__col__item" href="#">&Agrave; propos</a>
                <a class="footer__col__item" href="{{ path('app_activite') }}">Nous contacter</a>
                <a class="footer__col__item" href="#">F.A.Q.</a>
            </div>
        </footer>
    </body>
</html>
